.svg-holder {
    margin: 100px auto 0;
    max-width: 200px;
    
    &--c {
      .can {
         fill: #4A2B4A;
      }
      
      [class^="water-"] {
        stroke: #4A2B4A;
      }
    }
    
    &--p {
      .can {
         fill: #4A2B4A;
      }
      
      [class^="water-"] {
        stroke: #4A2B4A;
      }
    }
  }
  
  .can-group {
    animation: water-swing 2.2s ease infinite;
  }
  
  [class^="water"] {
    animation: watering 0.8s linear infinite;
  }
  
  .stem {
    animation: stem-growth 2.2s linear infinite;
  }
  
  .leaves-group {
    animation: growth-move 2.2s linear infinite;
  }
  
  @keyframes growth-move {
    from {
      transform-origin: center bottom;
      -webkit-transform-origin: 76% 74%;
      
    }
    20% {
      transform-origin: center bottom;
      -webkit-transform-origin: 76% 74%;
      opacity: 1;
    }
    70% {
      transform: scale(1.35) translateY(-3px);
      transform-origin: center bottom;
      -webkit-transform-origin: 76% 74%;
      opacity: 1;
    }
    90%, 100% {
      transform: scale(1.35) translateY(-3px);
      transform-origin: center bottom;
      -webkit-transform-origin: 76% 74%;
      opacity: 0;
    }
  }
  
  @keyframes stem-growth {
    from {
      transform-origin: center bottom;
      -webkit-transform-origin: 76% 74%;
    }
    20% {
      transform-origin: center bottom;
      -webkit-transform-origin: 76% 74%;
      opacity: 1;
    }
    70% {
      transform: scale3d(1.2, 2, 0);
      transform-origin: center bottom;
      -webkit-transform-origin: 76% 74%;
      opacity: 1;
    }
    90%, 100% {
      transform: scale3d(1.2, 2, 0);
      transform-origin: center bottom;
      -webkit-transform-origin: 76% 74%;
      opacity: 0;
    }
  }
  
  @keyframes water-swing {
    from {
      transform: translate(-10px, -10px) rotate(6deg);
      transform-origin: 50% 50%;
    }
    40%, 74% {
      transform: translate(-10px, -18px) rotate(12deg);
      transform-origin: 50% 50%;
    }
    100% {
      transform: translate(-10px, -10px) rotate(6deg);
      transform-origin: 50% 50%;
    }
  }
  
  
  @keyframes watering {
    from {
      stroke-dasharray: 2, 3;
    }
    50% {
      stroke-dasharray: 4, 3;
    }
    75% {
      stroke-dasharray: 6, 3;
    }
    100% {
      stroke-dasharray: 8, 3;
    }
  }